<div class="panel">
    <div class="fill panel-header">
        <div class="row">
            <div class="col-xs-12">
                <div style="float: left">
                    <h4>Manage Invites</h4>
                </div>
                <div style="float: right">
                    <button class="btn-primary" data-bind="click: $component.showModal">Send invite</button>
                </div>
            </div>
        </div>
    </div>
    <div class="no-border panel-body">
        <div class="row">

        </div>

    </div>
</div>
<st-modal params="childComponent: childComponent, childComponentParams: childComponentParams, modalConfig: modalConfig">
</st-modal>
