<div class="container">
    <!-- ko foreach: recents -->
    <div class="row">
        <div class="col-sm-8" >
            <div style="float:right; margin-right: 5px; margin-top: 5px; cursor: pointer; color: silver" data-bind="click: $component.deleteClick">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </div>
            <div style="border: solid 1px silver; background-color: white; border-radius: 6px; padding: 15px;">
                <div class="row">
                    <!-- ko if: title != null -->
                    <div data-bind="text: title"></div>
                    <!-- /ko -->
                    <div data-bind="text: body"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ko if: $index() < $component.recents().length-1 -->
    <div class="row">
        <div style="width: 100%; border-left: solid 1px silver; margin-left:25px; background-color: white; padding: 10px; height: auto;">
        </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko foreach: past -->
    <div class="row">
        <div class="col-sm-2 col-sm-2" style="background-color: red">
            |
        </div>
        <div class="col-sm-10 col-sm-10" style="background-color: blue">
            &nbsp;
        </div>
    </div>
    <!-- /ko -->
    <!-- ko foreach: beginning -->
    <div class="row">
        <div class="col-sm-2 col-sm-2" style="background-color: blue">
            |
        </div>
        <div class="col-sm-10 col-sm-10" style="background-color: red">
            &nbsp;
        </div>
    </div>
    <!-- /ko -->
</div>
