<div class="panel center border">
    <form id="image-uploader">
        <div data-bind="attr: { style: containerStyle }">
            <div id="upload-button" data-bind="attr: { style: uploadButtonStyle }">
                <h1 class="fa fa-cloud-upload"></h1>
                <div style="position: relative; top: 50%">Upload</div>

            </div>
            <input type="file" id="file-select" name="photos" multiple="true" data-bind="attr: { style: fileInputStyle }" />
        </div>
    </form>
</div>
