<div class="container">
    <!-- ko foreach: recents -->
    <div class="row" style="border-left: solid 2px silver">
        <div class="col-sm-2 col-sm-2" style="margin-top: 50%; border-top: solid 2px silver">
        </div>
        <div class="col-sm-10 col-sm-10">
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8">
                    <div class="row" style="border: solid 5px silver; background-color: white; border-radius: 20px; padding: 20px">
                        <!-- ko if: title != null -->
                        <div data-bind="text: title"></div>
                        <!-- /ko -->
                        <div data-bind="text: body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko foreach: past -->
    <div class="row">
        <div class="col-sm-2 col-sm-2" style="background-color: red">
            |
        </div>
        <div class="col-sm-10 col-sm-10" style="background-color: blue">
            &nbsp;
        </div>
    </div>
    <!-- /ko -->
    <!-- ko foreach: beginning -->
    <div class="row">
        <div class="col-sm-2 col-sm-2" style="background-color: blue">
            |
        </div>
        <div class="col-sm-10 col-sm-10" style="background-color: red">
            &nbsp;

        </div>
    </div>
    <!-- /ko -->
</div>
