<header class="fixed-top">
    <nav class="desktop nav">
        <ul>
            <li class="nav-header">
                <i class="fa fa-home" aria-hidden="true"></i>
            </li>
            <li class="nav-menu-item">
                Projects
            </li>
            <li class="nav-menu-item">
                Blogs
            </li>
        </ul>
    </nav>
    <nav class="mobile nav">
        <div class="nav-header">
            <a class="nav-menu-button">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
            <button class="nav-menu-button pull-right">
                <i class="fa fa-bars" aria-hidden="true"></i>
                <ul class="dropdown">
                    <li class="nav-menu-item">
                        Projects
                    </li>
                    <li class="nav-menu-item">
                        Blogs
                    </li>
                </ul>
            </button>
        </div>
    </nav>
</header>
